* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
}

.contenedor {
    padding: 10px 0;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    text-align: center;
}

.marker-div-icon{
    width: 40px;
    height: 40px;

    position: absolute;
    top: -35px;
    left: -14px;
}

.titulo {
    color: #252850;
    font-size: 30px;
    text-align: center;
}

.titulos {
    color: white;
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

header {
    width: 100%;
    height: 100px;
    padding-top: 20px;
    background: #0F2027;  /* fallback for old browsers */
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}





.infoDiv{
    min-height:50px;
    min-width:200px;
    max-width: 500px;
    max-height: 200px;

    background: rgba(58, 58, 204, 0.7);
    border: 2px solid black;
    border-radius: 10px;
}

.infoH6{
    font-size: 14px;
}

.infoDiv-item{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

#external-div{
    display: flex;
}




#carHistory-form-Container{
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 15px;
}

#carHistory-form{
    width: 100%;
}

#carHistory-form > div{
    padding: 0px;
}

div#carHistory-form > div > input{
    width: 100%;
    height: 100%;
}

div#carHistory-form > div > div > button{
    border-radius: 10px;
    font-weight: 700;
    padding: 5px;
}







#mapa{
    width:100%;
    height:500px;
    border: 2px solid black;
    border-radius: 8px;

    box-shadow: 2px 2px 10px black;
    z-index: 0;
}

#centerBtn{
    width: 75px;
    height: 35px;
    border-radius: 5px;
    border: 2px solid black;

    font-weight: 700;
    font-size: 14px;
    font-style: italic;
    margin-right: 10px;
    margin-top: 10px;

    pointer-events: auto;
}

#range-container{
    border: 1px solid gray;
    border-radius: 8px;

    margin-top: 15px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    justify-content: center;
}

.selected-marker{
    opacity: 1;
}

.non-selected-marker{
    opacity: 0.7;
}

.side-car-container{
    margin-bottom: 10px;

    display: flex;
    justify-content: center;

    cursor: pointer;
}

svg.marker-div-icon{
    fill: currentColor;
}

svg[data-checked='0']{
    color: gray;
}






@media screen and (max-width:900px){
    header{
        background-position: center;
    }

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-about-us{
        width: 90%;
    }

    
    /* Footer */

    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }
}