<!DOCTYPE html>
<html>
	<head>
		<!--Bootstrap y Estilos-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

		<!--Mapa-->
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
		integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
		crossorigin=""/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
		
		<!--Config-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!--Propios-->
		<link rel="stylesheet" href="CSS/estilos.css">
		<link rel="icon" href="descarga.ico">
		<link rel="stylesheet" type="text/css" href="CSS/collapseSidebar.css">
		<title>GPSharing</title>
	</head>

	<body>
		<header>
			<!--<nav>
				<a href="#">Inicio</a>
				<a href="#"><i class="icon ion-md-locate"></i>GPSharing</a>
				<a href="#"><i class="icon ion-md-car"></i>Seleccionar vehiculo</a>
				<a href="#"><i class="icon ion-md-map"></i>Distancia recorrida</a>
			</nav> -->
			<div id="masterContainer" class="container">
				<h1 id="Titulo-principal" class="titulos">GPSharing</h1>
				<p class="texto"></p>
			<div class="contenedor" style="display:flex; justify-content:center;">
		</header>

		<main>
			<section>
				<div class="container">
					<div class="container-fluid">
						<div style="display:flex; justify-content:center;">
							<div style="display:flex;">
								<div id="carHistory-form" class="row">
									<div class="col-9" style="display:flex; justify-content:space-between;">
										<input type="datetime-local" id="date1" min="2021-09-27T00:00:00.000">
										<input type="datetime-local" id="date2">
									</div>
									<div class="col-3" style="display:flex; justify-content:space-between;">
										<button id="historyBtn">Consultar</button>
										<button id="returnBtn">Regresar</button>
									</div>
								</div>
							</div>
						</div>

						<div id="mapa" style="width:100%; height:500px; border: 2px solid black;">
							<div class="leaflet-top leaflet-right">
								<button id="centerBtn"> Center </button>
							</div>
							<div class="container-fluid leaflet-bottom" style="display:flex; justify-content:center; margin-bottom:5px;">
								<div id="infoDiv" class="infoDiv">
									<div>
										<div class="container" style="display:flex; justify-content:center; font-style:italic; text-decoration:underline;">
											<h6>Tiempo real:</h6>
										</div>
										<div class="container" style="display:flex; justify-content: space-between;">
											<div class="infoDiv-item">
												<h6 class="infoH6" style="font-weight:700;">Lat: </h6>
												<h6 class="infoH6" id="Latitud"></h6>
											</div>
											<div class="infoDiv-item">
												<h6 class="infoH6" style="font-weight:700;">Lng: </h6>
												<h6 class="infoH6" id="Longitud"></h6>
											</div>
										</div>
										<div class="container" style="display:flex; justify-content: space-between;">
											<div class="infoDiv-item">
												<h6 class="infoH6" style="font-weight:700;">TimeStamp: </h6>
												<h6 class="infoH6" id="TimeStamp"></h6>
											</div>
										</div>
									</div>
								</div>

								<div id="external-div" style="display:none;">
									<div id="internal-div1" class="infoDiv" style="background: rgba(255, 47, 38, 0.7);">
										<div class="container" style="display:flex; justify-content:center; font-style:italic; text-decoration:underline;">
											<h6>Incio:</h6>
										</div>
										<div class="container" style="display:flex; justify-content: space-between;">
											<div class="infoDiv-item">
												<h6 class="infoH6" style="font-weight:700;">Lat: </h6>
												<h6 class="infoH6" id="Latitud1"></h6>
											</div>
											<div class="infoDiv-item">
												<h6 class="infoH6" style="font-weight:700;">Lng: </h6>
												<h6 class="infoH6" id="Longitud1"></h6>
											</div>
										</div>
										<div class="container" style="display:flex; justify-content: space-between;">
											<div class="infoDiv-item">
												<h6 class="infoH6" style="font-weight:700;">TimeStamp: </h6>
												<h6 class="infoH6" id="TimeStamp1"></h6>
											</div>
										</div>
									</div>
									<div style="width: 5px;"></div>
									<div id="internal-div2" class="infoDiv" style="background: rgba(38, 140, 255, 0.7);">
										<div class="container" style="display:flex; justify-content:center; font-style:italic; text-decoration:underline;">
											<h6>Final:</h6>
										</div>
										<div class="container" style="display:flex; justify-content: space-between;">
											<div class="infoDiv-item">
												<h6 class="infoH6" style="font-weight:700;">Lat: </h6>
												<h6 class="infoH6" id="Latitud2"></h6>
											</div>
											<div class="infoDiv-item">
												<h6 class="infoH6" style="font-weight:700;">Lng: </h6>
												<h6 class="infoH6" id="Longitud2"></h6>
											</div>
										</div>
										<div class="container" style="display:flex; justify-content: space-between;">
											<div class="infoDiv-item">
												<h6 class="infoH6" style="font-weight:700;">TimeStamp: </h6>
												<h6 class="infoH6" id="TimeStamp2"></h6>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
		<!--
		<footer>
			<div class="contenedor-footer">
				<div class="contenedor.foo">
					<h4>Jasid Matinez</h4>
					<p>200090474</p>
				</div>
				<div class="contenedor.foo">
					<h4>Camilo Narvaez</h4>
					<p>200119717</p>
				</div>
				<div class="contenedor.foo">
					<h4>Arturo Pantoja</h4>
					<p>200107162</p>
				</div>
				<div class="contenedor.foo">
					<h4>Daniel Perez</h4>
					<p>200108454</p>
				</div>
				<div class="contenedor.foo">
					<h4>Carlos Tinoco</h4>
					<p>200120833</p>
				</div>
			</div>
			<h2 class="titulo-final">&copy; GPSharing</h2>
		</footer>
		-->
	</body>
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="crossorigin=""></script>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script type="text/javascript" src="./index.js"></script>
</html>
